body
{
  /*font-family: 'Cantarell', sans-serif;*/
}

.banner
{
  background-color:#1abc9c;
  font-family:'Lobster', cursive;
  text-align: center;
  padding: 1em 0em 1em 0em;
  font-size: 3em;
  color:black;
}


