/* CSS files add styling rules to your content */

body {
  background: #222;
  min-height: 100vh;
  max-height: 100vh;
  color: #fff;
  font-family: sans-serif;
  overflow: hidden;
  padding-bottom: 1em;
  display: grid;
  place-items: center;
  grid-template-areas:
    "main"
    "footer";
}

.content {
  cursor: pointer;
  grid-area: main;
  min-height: 70vh;
  max-height: 70vh;
  display: flex;
  align-items: center;
}

section {
  display: none;
  margin: 0 1em 0 1em;
  max-width: 600px;
  grid-area: main;
  min-height: 70vh;
  max-height: 70vh;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: nyt-cheltenham;
  font-style: italic;
  font-size: 2.5rem;
}

section p {
  font-family: nyt-imperial;
  line-height: 1.8rem;
}

a {
  color: #fff;
  font-size: 0.8rem;
}

table {
  min-height: 30vh;
  max-height: 30vh;
  display: flex;
}

tbody {
  grid-area: footer;
}

@media (max-width: 400px) {
  .glitch {
    font-size: 5rem;
  }
}

.glitch {
  font-size: 10rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em 0 0 rgba(0, 255, 0, 0.75), -0.05em 0 0 rgba(0, 0, 255, 0.75);

  animation: glitch 500ms infinite;
}

@media (max-width: 400px) {
  .glitch {
    font-size: 5rem;
  }
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 1000ms infinite;
  clip-path: polygon(0 0, 100% 0, 80% 45%, 0 45%);
  transform: translate(-0.025em, -0.015em);
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 70%);
  transform: translate(0.012em, 0.015em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em 0 0 rgba(0, 255, 0, 0.75), -0.05em 0 0 rgba(0, 0, 255, 0.75);
  }
  10% {
    text-shadow: 0.035em 0 0 rgba(255, 0, 0, 0.75),
      0.025em 0 0 rgba(0, 255, 0, 0.75), 0.05em 0 0 rgba(0, 0, 255, 0.75);
  }
  19% {
    text-shadow: 0.035em 0 0 rgba(255, 0, 0, 0.75),
      0.025em 0 0 rgba(0, 255, 0, 0.75), 0.05em 0 0 rgba(0, 0, 255, 0.75);
  }
  20% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      0.015em 0 0 rgba(0, 255, 0, 0.75), 0.035em 0 0 rgba(0, 0, 255, 0.75);
  }
  77% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      0.015em 0 0 rgba(0, 255, 0, 0.75), 0.035em 0 0 rgba(0, 0, 255, 0.75);
  }
  78% {
    text-shadow: -0.035em 0 0 rgba(255, 0, 0, 0.75),
      0.035em 0 0 rgba(0, 255, 0, 0.75), -0.06em 0 0 rgba(0, 0, 255, 0.75);
  }
  89% {
    text-shadow: -0.035em 0 0 rgba(255, 0, 0, 0.75),
      0.035em 0 0 rgba(0, 255, 0, 0.75), -0.06em 0 0 rgba(0, 0, 255, 0.75);
  }
  90% {
    text-shadow: -0.015em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em 0 0 rgba(0, 255, 0, 0.75), -0.05em 0 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: -0.015em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em 0 0 rgba(0, 255, 0, 0.75), -0.05em 0 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em 0 0 rgba(0, 255, 0, 0.75), 0.035em 0 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }
}

