{% load static %}

body
{
  /*font-family: 'Cantarell', sans-serif;*/
  background:black;
}

.banner{
  /*background-color:#347b28;*/
  background:url('./../img/banner.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size:7em;
  padding-bottom:1em;
  color:#fff;
}

.welcome-text
{
  padding-top:40vh;
  font-size:5em;
  color:#fff;
}

#sky{
  background-color:#000;
  min-height:80vh;
  max-height:80vh;
  position:relative;
  margin:0 auto;
}

.star{
  background-color:#fff;
  border-color:#fff;
  border-radius:100%;
  height:1px;
  width:1px;
}

.circles
{
  border-radius:100%;
  max-width:4em;
  max-height:4em;
}

.anchorLink{
  cursor:pointer;
  min-height:20vh;
}

.hide-me{
  opacity:0;
}

.squares
{
  color:white;
  text-decoration:none;
  font-size: 3em;
  font-family:'Open Sans';
  padding:.5em 0em .5em 0em;
  background-color:black;
}

.font-1
{
  font-size:1em;
}

.font-2
{
  font-size:2em;
}

.font-3
{
  font-size:3em;
}

.font-4
{
  font-size:4em;
}

.font-5
{
  font-size:5em;
}

.font-6
{
  font-size:6em;
}

.font-7
{
  font-size:7em;
}

.font-weight-eighth
{
  font-weight:.2em;
}

.font-weight-half
{
  font-weight:.5em;
}

.font-weight-1
{
  font-weight:1em;
}

.font-weight-2
{
  font-weight:2em;
}

.font-weight-3
{
  font-weight:3em;
}

.font-weight-4
{
  font-weight:4em;
}

.font-weight-5
{
  font-weight:5em;
}

.down
{
  color:white;
  text-decoration:none;
}

a:hover
{
  text-decoration:none;
}

#contact
{
  background: url(./../img/contact.png) 100% 0 repeat fixed; max-height:30em;
  height:1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba( 0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba( 0,0,0,0.8);
}

#contact article
{
  height: 458px;
  position: absolute;
  text-align:center;
  top:4em;
  width:100%;
}

.social
{
  top:2em;
}

.challengepost
{
  max-width:4em;
}

.about-separator
{
  color:gray;
  border-bottom:solid .5em;
  margin:0em 0em 4em 1em;
}

.section-about
{
  background:white;
  margin:auto;
}

.section-timeline
{

}

.section-contact
{
  background:gray;
}

.section-footer
{
  color:gray;
}

.facebook
{
  background-color:#3B5998;
}

.tumblr
{
  background-color:#2c4762;
}
