{% load static %}
body
{
  /*font-family: 'Cantarell', sans-serif;*/
  background:black;
  overflow-x:hidden;
}

.sky{
  position:fixed; 
  top:0; left:0; bottom:0;
  height:100%; width:100%;
  background-color:black;
  z-index:-9;
}

.welcome-text
{
  padding-top:40vh;
  font-size:5em;
  color:#fff;
}

.anchorLink{
  cursor:pointer;
  color:white;
  font-size:3em;
  margin-left:50%;
}

.glyphicon-chevron-down{
  position:relative;
  -webkit-animation: anchorLink 1.5s linear infinite alternate;
}

@-webkit-keyframes anchorLink{
  0%{top:0;}
  100%{top:10px;}
}

.hide-me{
  opacity:0;
}

#about{
  margin-top:10vh;
}

#quote{
  margin-bottom:5vh;
}

a:hover
{
  text-decoration:none;
}

#contact
{
  background: url(./../img/contact.png) 100% 0 repeat fixed; max-height:30em;
  height:1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba( 0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba( 0,0,0,0.8);
}

#contact article
{
  height: 458px;
  position: absolute;
  text-align:center;
  top:4em;
  width:100%;
}

.social
{
  top:2em;
}

.challengepost
{
  max-width:4em;
}

.about-separator
{
  color:gray;
  border-bottom:solid .5em;
  margin:0em 0em 4em 1em;
}

.section-about
{
  color:black; 
  top:0; left:0; 
  height:100%; width:100%;
  background-color:white;
  margin-top:20%;
  padding-bottom:5%;
}

.section-contact
{
  margin-top:2%;
  background:gray;
}

.section-footer
{
  color:gray;
  margin-bottom:2%;
}